.game-area {
  position: relative;
  margin: 50px auto;
  height: 600px;
  width: 600px;
  border: 2px solid #000;
}
.snake-dot {
  position: absolute;
  height: 2%;
  width: 2%;
  background-color: #000;
  border: 1px solid #fff;
}
